<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title><?= Config::get('site_name') ?></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/goods.js"></script>
    <script src="/js/checkout.js"></script>
    <script src="/js/check_info.js"></script>
    <script src="/js/message.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/lib.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,600,400' rel='stylesheet' type='text/css'>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body >

<div id="header" class="sect">

    <p class="container">

<a href="/">
    <div id="logo">G ASKETS.COM</div>
    <p><span>интернет-магазин прокладок для турбокомпрессоров</span></p>

    </a>
        <a name="st"></a>

        <ul class="m-menu">
            <li><a href="/" ><button class="btn <?php if(App::getRouter()->getController() == 'pages'){?> active <?php } ?>" >Главная</button></a></li>
            <li><a href="/goods/#st" ><button class="btn <?php if(App::getRouter()->getController() == 'goods'){?> active <?php } ?>">Каталог</button></a></li>
            <li><a href="/contacts/#st" ><button class="btn <?php if(App::getRouter()->getController() == 'contacts'){?> active <?php } ?>">Контакты</button></a></li>
            <li><a href="/cart/#st" ><button class="btn <?php if(App::getRouter()->getController() == 'cart'){?> active <?php } ?>">Корзина</button></a></li>
        </ul>
    </div>

</div>

<div class="container">

    <div class="starter-template" >


        <?php if( Session::hasFlash() ){ ?>
        <div class="alert alert-info" role="alert" style="margin-top: 10px">
            <?php Session::flash(); ?>
        </div>

        <?php } ?>


        <?= $data['content'] ?>
    </div>

</div><!-- /.container -->





<footer>

    <!-- BOTTOM SECTION -->



    <!-- DOWNLINE SECTION-->

    <div id="downline">
        <div class="container cf">
            <div class="logo-copy">


                <p class="copy">2016 ® All Rights Reserved - GASKETS.COM.UA </p>
            </div>

            <ul class="b-menu">
                <li><a href="/contacts#st">Свяжитесь с Нами</a></li>
                <!--<li><a href="#">Ссылка 1</a></li>-->
                <!--<li><a href="#">Ссылка 2</a></li>-->
                <!--<li><a href="#">Ссылка 3</a></li>-->
            </ul>
        </div>
    </div>

</footer>


<!--[if lte IE 9]>
<script src="js/placeholder.min.js"></script>
<![endif]-->

</body>
</html>