<section id="cart" class="sect container cf">

<h1 class="lined">Корзина</h1>





<?php if( !is_null($data['cart_goods']) ){ ?>
<p style="text-align: center; font-size: 22px"> Общая стоимость заказа - <b><?=$data['sum']?></b> грн. </p><br><br>
<a href="/goods#st"><< Назад к Каталогу</a>
<table class="table table-striped" style="width : 80%; font-size: 16px;">
    <tr>
        <td style="width: 35%">Комплект для турбокомпрессора</td>
        <td style="width: 15%">Количество</td>
        <td style="width: 15%">Цена за 1 комплект </td>
        <td style="width: 45%"></td>


    </tr>
    <?php foreach( $data['cart_goods'] as $item ){?>
    <tr>
        <td><?=$item['manufactor']?> <?=$item['turbo']?></td>
        <td><span id="dec-form<?=$item['id']?>">
            <input type="hidden"  name="id"  value="<?=$item['id']?>" >
            <input type="hidden" name="quant" value="<?=Session::get('cart')[$item['id']]?>">
            <input type="hidden" name="total_quant" value="<?=$item['quant']?>">
            <input type="button" class="q" style="padding-left: 12px; padding-right: 12px;" onclick="decQuant(document.getElementById('dec-form<?=$item['id']?>'));" value="-">
        </span>

            <b style="font-size: 22px;"> <?=Session::get('cart')[$item['id']]?></b>

            <span id="inc-form<?=$item['id']?>">
            <input type="hidden"  name="id"  value="<?=$item['id']?>" >
            <input type="hidden" name="quant" value="<?=Session::get('cart')[$item['id']]?>">
            <input type="hidden" name="total_quant" value="<?=$item['quant']?>" >
            <input type="button" class="q" onclick="incQuant(document.getElementById('inc-form<?=$item['id']?>'));" value="+">

        </span>
        </td>
        <td><?=$item['price']?> грн.</td>
        <td> <a href="/cart/delete/<?=$item['id'] ?>"><button style="margin-left: 15px;" class="orange-btn">Удалить из корзины</button></a></td>
    </tr>
    <?php }?>
</table>


    <p style="text-align: center"><a href="/cart/delete_all"><button class="blue-btn" style=" font-size: 26px; padding: 8px; width: 30%">Очистить</button></a> <a href="/checkout#st"><button class="orange-btn" style="border-radius: 6px; font-size: 26px; padding: 8px; width: 30%">Оформить </button></a></p>


<?php } else { ?> <p style="text-align: center"> <span style="font-size: 26px;">Тут пока пусто</span> <br> <br><a href="/goods#st"><button class="orange-btn" style="font-size: 18px;font-weight: 500; padding: 15px; width: 300px">ПЕРЕЙТИ К КАТАЛОГУ</button></a> </p> <?php } ?>


</section>