<h3>Pages</h3><br>

<table class="table table-stripped" style="width: 400px;">
    <?php foreach( $data['pages'] as $page_data) {?>
    <tr>
        <td><b><?=$page_data['title'] ?></b></td>
        <td align="right">
            <a href="/admin/pages/edit/<?=$page_data['id'] ?>">
                <button class="orange-btn">edit</button>
            </a>
            <a href="/admin/pages/delete/<?=$page_data['id'] ?>" onclick="return confirmDelete();">
                <button class="orange-btn">delete</button>
            </a>
        </td>
    </tr>
    <?php } ?>
</table><br>

<div>
    <a href="/admin/pages/add"><button class="blue-btn">add new page</button></a>
</div>