<h3>Редактирование</h3><br>

<form method="post" action="">
    <input type="hidden" name="id"  value=" <?=$data['page']['id']?> "/>
    <div class="form-group">
        <label for="alias">Alias</label>
        <input type="text" id="alias" style="width: 500px;" name="alias" value=" <?=$data['page']['alias']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" style="width: 500px;" name="title" value=" <?=$data['page']['title']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="annonce">Annonce</label>
        <textarea name="annonce" id="annonce" style="width: 500px; height: 50px;" class="form-control"><?=$data['page']['annonce']?></textarea>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
       <textarea name="content" id="content" style="width: 500px;" class="form-control"><?=$data['page']['content']?></textarea>
    </div>
    <div class="form-group">
        <label for="is_published">Is published</label>
        <input type="checkbox" name="is_published" id="is_published" <?php if( $data['page']['is_published'] ){?> checked="checked" <?php } ?>  />
    </div>

    <input type="submit" style="width: 500px;" class="blue-btn"/>

</form>