<h1 class="lined">Сообщения</h1><br>

<table class="table table-stripped" style="width : 100%">
    <tr>
        <td style="width: 5%">ID</td>
        <td style="width: 10%">Имя</td>
        <td style="width: 25%">Ел. Почта</td>
        <td style="width: 50%">Сообщение</td>
    </tr>
    <?php foreach( $data as $item ){ ?>
    <tr>
        <td><?=$item['id']?></td>
        <td><?=$item['name']?></td>
        <td><?=$item['email']?></td>
        <td><?=$item['message']?></td>
    </tr>
    <?php } ?>
</table>