<h3>Редактирование</h3><br>

<form method="post" action="">
    <input type="hidden" name="id" value=" <?=$data['good']['id']?> "/>
    <div class="form-group">
        <label for="manufactor">Manufactor</label>
        <input type="text" id="manufactor" name="manufactor" value=" <?=$data['good']['manufactor']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="turbo">Turbo</label>
        <input type="text" id="turbo" name="turbo" value=" <?=$data['good']['turbo']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="gasket_kit">Gasket Kit</label>
        <input type="text" id="gasket_kit" name="gasket_kit" value=" <?=$data['good']['gasket_kit']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="img_src">Image src</label>
        <input type="text" id="img_src" name="img_src" value=" <?=$data['good']['img_src']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" value=" <?=$data['good']['price']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="oil_in">Oil In</label>
        <input type="text" id="oil_in" name="oil_in" value=" <?=$data['good']['oil_in']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="oil_out">Oil Out</label>
        <input type="text" id="oil_out" name="oil_out" value=" <?=$data['good']['oli_out']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="gas_in">Gas In</label>
        <input type="text" id="gas_in" name="gas_in" value=" <?=$data['good']['gas_in']?> " class="form-control"/>
    </div>
    <div class="form-group">
        <label for="gas_out">Gas Out</label>
        <input type="text" id="gas_out" name="gas_out" value=" <?=$data['good']['gas_out']?> " class="form-control"/>
    </div>


    <input type="submit" class="blue-btn"/>

</form>