<h1 class="lined">Прокладки</h1><a href="/admin/goods/"><<Назад</a>

<form action="/admin/goods/gasketsearch" method="post">
    <div style="margin-top: 30px">
        <p>  Формат поиска (720931-5004, 5303 988 0052, 28200-4A150, 312934, 3580177 или TB10194):</p>
        <input type="text"  class="search form-control" style="width: 30%; display: inline" name="search">
        <div class="option-group">
            <input type="radio" checked name="opt" id="turbo" value="turbo">
            <label for="turbo" style="font-weight: 300;"> по номеру турбины </label>
        </div>
        <div class="option-group">
            <input type="radio"  name="opt" id="gasket" value="gasket">
            <label for="gasket" style="font-weight: 300;"> по номеру прокладки </label>
        </div>
        <input type="submit" class="orange-btn"  style="width: 10%" value="Найти">
    </div>
</form><br>

<?php if($data['search']){ ?> <p style="font-size: 28px;">Результат поиска (<a href="/admin/goods/gaskets"> OK </a>):  </p> <br> <?php } ?>
<?php if( !is_null( $data['gaskets']) ){ ?>

<table class="table table-stripped" style="width : 100%">
    <tr>
        <td style="width: 5%">ID</td>
        <td style="width: 10%">Прокладка</td>
        <td style="width: 10%">Количество</td>
        <td style="width: 10%">Цена</td>
        <td style="width: 10%"></td>

    </tr>
    <?php foreach( $data['gaskets'] as $item ){ ?>
    <tr>
        <td><?=$item['id']?></td>
        <td><?=$item['gasket']?></td>
        <td><?=$item['quant']?></td>
        <td><?=$item['price']?></td>
        <td><a href="/admin/goods/gasket_edit/<?=$item['id'] ?>">
            <button class="orange-btn" style="width: 50px;">E</button>
        </a>
            <a href="/admin/goods/gasket_delete/<?=$item['id'] ?>" onclick="return confirmDelete();">
                <button class="orange-btn" style="width: 50px;">X</button>
            </a></td>

    </tr>
    <?php } ?>
</table>

<?php } else { ?> Поиск не дал результатов <br> <br> <br> <?php } ?>


<div>
    <a href="/admin/goods/gasket_add"><button class="blue-btn">Добавить новую</button></a>
</div>