<h1 class="lined">Комплекты</h1>
<a href="/admin/goods/gaskets">Прокладки>></a><br>

<form action="/admin/goods/search" method="post">
    <div style="margin-top: 30px">
        <p>  Формат поиска (720931-5004, 5303 988 0052, 28200-4A150, 312934, 3580177 или JT10066):</p>
        <input type="text"  class="search form-control" style="width: 30%; display: inline" name="search">
        <div class="option-group">
            <input type="radio" checked name="opt" id="turbo" value="turbo">
            <label for="turbo" style="font-weight: 300;"> по номеру турбины </label>
        </div>
        <div class="option-group">
            <input type="radio"  name="opt" id="kit" value="kit">
            <label for="kit" style="font-weight: 300;"> по номеру комплекта </label>
        </div>
        <input type="submit" class="orange-btn"  style="width: 10%" value="Найти">
    </div>
</form><br>

<?php if($data['search']){ ?> <p style="font-size: 28px;">Результат поиска ( <a href="/admin/goods/">OK</a> ) : </p> <br> <?php } ?>

<?php if( !is_null($data['goods']) ){ ?>

<table class="table table-stripped" style="width : 100%">
    <tr>
        <td style="width: 3%">id</td>
        <td style="width: 10%">Manufactor</td>
        <td style="width: 12%">Turbo</td>
        <td style="width: 10%">Gasket Kit</td>
        <td style="width: 5%">Image src</td>
        <td style="width: 8%">Price</td>
        <td style="width: 10%">Oil In</td>
        <td style="width: 10%">Oil Out</td>
        <td style="width: 10%">Gas In</td>
        <td style="width: 10%">Gas Out</td>
        <td style="width: 12%"></td>
    </tr>
    <?php foreach( $data['goods'] as $item ){ ?>
    <tr>
        <td><?=$item['id']?></td>
        <td><?=$item['manufactor']?></td>
        <td><?=$item['turbo']?></td>
        <td><?=$item['gasket_kit']?></td>
        <td></td>
        <td><?=$item['price']?></td>
        <td><?=$item['oil_in']?></td>
        <td><?=$item['oli_out']?></td>
        <td><?=$item['gas_in']?></td>
        <td><?=$item['gas_out']?></td>
        <td>
            <a href="/admin/goods/edit/<?=$item['id'] ?>">
            <button class="orange-btn" style="width: 50px;">E</button>
        </a>
            <a href="/admin/goods/delete/<?=$item['id'] ?>" onclick="return confirmDelete();">
            <button class="orange-btn" style="width: 50px;">X</button>
        </a>
        </td>
    </tr>
    <?php } ?>
</table>

<?php } else { ?> Поиск не дал результатов <br> <br> <br><?php } ?>

<div>
    <a href="/admin/goods/add"><button class="blue-btn">Добавить новый комплект</button></a>
</div>